In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://gist.githubusercontent.com/michhar/2dfd2de0d4f8727f873422c5d959fff5/raw/fa71405126017e6a37bea592440b4bee94bf7b9e/titanic.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df.shape

(891, 12)

In [10]:
# this is deprecated use the SimpleImputer instead
from sklearn.preprocessing import Imputer

In [18]:
print("mean of Age {}".format(df['Age'].mean()))
print("median of Age {}".format(df['Age'].median()))

mean of Age 29.69911764705882
median of Age 28.0

In [29]:
imp = Imputer(strategy="median")

/opt/conda/lib/python3.7/site-packages/sklearn/utils/deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [26]:
X = df['Age'].values

In [30]:
Xt = imp.fit_transform(X.reshape(-1, 1))

In [37]:
Xt.shape

(891, 1)

Imputer is deprecated so use SimpleImputer instead

In [33]:
from sklearn.impute import SimpleImputer

In [36]:
imp = SimpleImputer(strategy="median")
X = df['Age'].values
Xt = imp.fit_transform(X.reshape(-1, 1))
Xt.shape

(891, 1)

### Categorical Data

In [38]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [46]:
embarked = df['Embarked'].fillna(value="S").values
embarked[:10]

array(['S', 'C', 'S', 'S', 'S', 'Q', 'S', 'S', 'S', 'C'], dtype=object)

In [42]:
from sklearn.preprocessing import LabelEncoder

In [45]:
encoder = LabelEncoder()
Xt = encoder.fit_transform(embarked)
Xt[:10]

array([2, 0, 2, 2, 2, 1, 2, 2, 2, 0])

- C = 0
- Q = 1
- S = 2

In [47]:
encoder.classes_

array(['C', 'Q', 'S'], dtype=object)

#### One Hot Encoding

In [48]:
from sklearn.preprocessing import OneHotEncoder

In [52]:
one_hot = OneHotEncoder()
Xtt = one_hot.fit_transform(Xt.reshape(-1, 1))

/opt/conda/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [53]:
Xtt

<891x3 sparse matrix of type '<class 'numpy.float64'>'
	with 891 stored elements in Compressed Sparse Row format>

In [54]:
Xtt.toarray()

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       ...,
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.]])